img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  color: transparent;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.center {
  margin-left: 6px;
}

.not-approved {
  opacity: 0.2;
}

.img-wrapper {
  position: relative;
}

.img-text {
  position: absolute;
  margin-left: 1rem;
  width: 50%;
  bottom: 50%;
}
